@import url(https://fonts.bunny.net/css?family=Nunito);
.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.vh-50 {
  height: 50vh;
}

.vw-50 {
  width: 50vw;
}

.max-h-100 {
  max-height: 100vh;
}

.bg-body-dark {
  background: #243b55;
}

.bg-body-dark-3 {
  background: rgba(31, 56, 100, 0.3);
}

.bg-body-dark-5 {
  background: rgb(222, 225, 230);
}

.card-center {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.input-outline-none {
  border-bottom: greenyellow 1px solid;
}
.input-outline-none:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
}

.btn-login:active {
  background-color: #09A635;
  box-shadow: 0 0 0 0.25rem #09A635;
  border-color: #09A635;
}
.btn-login:focus {
  background-color: #055f1e;
  border-color: #055f1e;
  box-shadow: 0 0 0 0.25rem #055f1e !important;
}
.btn-login:hover {
  background-color: #055f1e;
  border-color: #055f1e !important;
}

.cursive {
  font-family: cursive;
}

.switch-button {
  height: 18px;
  border-radius: 20px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  transition: all ease 0.2s;
  padding: 2px;
  padding-right: 20px;
  border: 1px solid #198754;
  cursor: pointer;
  background-color: #fff;
}
.switch-button.enabled {
  padding-left: 20px;
  padding-right: 2px;
  background-color: #198754;
}
.switch-button.enabled .round {
  background-color: #fff;
}
.switch-button .round {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #198754;
}

#combobox .bg-teal-600 {
  background-color: #075985;
}
#combobox .combobox-button {
  width: calc(100% - 30px);
}
#combobox .combobox-input {
  min-width: calc(100% - 50px);
  outline: none;
  border: none;
}
#combobox .combobox-options {
  min-width: calc(100% - 50px);
  max-height: 500px;
  overflow-y: scroll;
}
#combobox .combobox-options .combobox-option {
  position: relative;
  padding: 6px 12px 6px 0px;
}
#combobox .combobox-options .combobox-option .combobox-text {
  padding-left: 35px;
  white-space: normal;
}
#combobox .combobox-options .combobox-option .combobox-icon {
  position: absolute;
  left: 0;
  transform: translateX(50%);
}

#multiple-combobox {
  opacity: 1;
  min-width: 250px;
}
#multiple-combobox .bg-teal-600 {
  background-color: #075985;
}
#multiple-combobox .combobox-input-placeholder {
  outline: none;
  border: none;
}
#multiple-combobox #placeholder {
  color: black;
  opacity: 1;
}
#multiple-combobox .combobox-input {
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  border: none;
  color: black;
}
#multiple-combobox .combobox-button {
  border-radius: 0px;
  width: calc(100% - 28px);
}
#multiple-combobox .combobox-button .disabled {
  color: transparent !important;
  border-radius: 0px;
}
#multiple-combobox .disabled-btn {
  background-color: #ddd;
}
#multiple-combobox .combobox-options {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
}
#multiple-combobox .combobox-options .combobox-option {
  position: relative;
  padding: 6px 12px 6px 0px;
}
#multiple-combobox .combobox-options .combobox-option .combobox-text {
  padding-left: 35px;
}
#multiple-combobox .combobox-options .combobox-option .combobox-icon {
  position: absolute;
  left: 0;
  transform: translateX(50%);
}
#multiple-combobox .combobox-selected {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  left: 0px;
}
#multiple-combobox .combobox-selected .hover-icon-x {
  opacity: 0.6;
}
#multiple-combobox .combobox-selected .hover-icon-x:hover {
  opacity: 1;
}
#multiple-combobox .combobox-selected li {
  display: flex;
  margin-right: 4px;
  padding: 2px 6px 2px 1px;
  border: 1px solid gray;
  border-radius: 4px;
}

.rounded-4 {
  border-radius: 1rem;
}

.bg-transparent {
  background-color: transparent;
}

.z-15 {
  z-index: 15;
}

.z-10 {
  z-index: 10;
}

:-webkit-scrollbar {
  display: none;
}

.option {
  height: 36px;
  opacity: 1 !important;
}
.option:hover {
  background-color: rgb(219 234 254/var(--tw-bg-opacity));
}

.text-green {
  color: #09A635;
}

.border-right {
  border-right: 1px solid;
}

.option {
  cursor: pointer;
}
.option:hover {
  background-color: rgb(161, 159, 159);
}

.des-img {
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.des-img i {
  font-size: 40px;
}

.product-img-user :hover .des-img {
  opacity: 1;
}

.product-img-user :hover i {
  font-size: 40px;
}

.object-fit-cover {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.equal {
  aspect-ratio: 1/1;
}

img {
  max-width: 100000px !important;
}

.btn-minus:active {
  background-color: gray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  font-size: inherit !important;
}
